.superInput {
margin: 10px;
    padding: 3px;
    font-size: 16px;
    border-style: solid;
    border-width: 5px;
    border-radius: 9px;
    background-color: #8cb38e;
    border-color: #636e54;
    box-shadow: 0px 0px 8px 0px rgba(5, 5, 5, .75);


}
.input:focus{
/*    outline: none;
    border: darkslateblue;*/
}

.errorInput {
    margin: 10px;
    padding: 3px;
    font-size: 16px;
    border-style: solid;
    border-width: 5px;
    border-radius: 9px;
    background-color: #8cb38e;
    border-color: #636e54;
    box-shadow: -1px 0px 30px 0px rgba(255, 0, 0, .99)
}

.error {

    text-shadow: 1px 0 1px #000,/*обводка текста*/
    0 1px 1px #000,/*обводка текста*/
    -1px 0 1px #000,/*обводка текста*/
    0 -1px 1px #000;/*обводка текста*/
color: rgba(255,17,26,0.71);

}
